language: php
sudo: required

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 5.6
  - 7.0
  - hhvm

env:
  global:
    - TEST_COMMAND="composer test"

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true
  include:
    - php: 5.6
      sudo: required
      env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" COVERAGE=true TEST_COMMAND="composer test-ci"

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer update ${COMPOSER_FLAGS} --prefer-source --no-interaction

script:
  - $TEST_COMMAND

